body {
    background-image: url(img/proyecto-nahual.png);
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.calculator {
    margin: 50px auto;
    width: 300px;
    text-align: center;
}

.calculator input, .calculator select, .calculator button {
    display: block;
    margin: 10px auto;
    padding: 5px;
}

.calculator button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #2d8b32;
}

#clear {
    display: none;
}

#result {
    font-size: medium;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
